h1 {
	margin: 0;
	padding: 0;
	border: 0;
}

h3 {
	margin: 0;
	padding: 0;
	border: 0;
}


h4 {
	margin: 0;
	padding: 0;
	border: 0;
}

h1 {
	font-family: "Space Mono", monospace;
	font-size: 26px;
	font-weight: bold;
}

h2 {
	font-family: "Space Mono", monospace;
	font-size: 22px;
	line-height: 33px;
	font-weight: bold;
}

h3 {
	font-family: "Space Mono", monospace;
	font-size: 16px;
	font-weight: normal;
	color: blue;
}

h4 {
	font-family: "Space Mono", monospace;
	font-size: 13px;
	font-weight: normal;
}

a {
	color: black;
	text-decoration: none;
}

body {
	font-family: "Space Mono", monospace;
	font-size: 15px;
	line-height: 25px;
	font-weight: normal;
	background-color: #f6f8ff;
	margin: 20px;
}

.themeswitcher .light-text {
	display: none;
}

.themeswitcher .light-icon {
	display: none;
}

.themeswitcher {
	display: flex;
}

.themeswitcher span {
	margin-right: 10px;
}

.container {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;

}

.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.dark-text {
	text-transform: uppercase;
	margin-right: 5px;
}

.searchbar {
	display: flex;
	flex-direction: row;
	background-color: white;
	align-items: center;
	border-radius: 15px;
	box-shadow: 5px 10px 18px #e7e7e7;
	margin-top: 30px;
}

form {
	display: flex;
	flex: 1;
}

input {
	font-family: "Space Mono", monospace;
	border-style: hidden;
	flex: 1;

}

input:focus {
	outline: none;
}

button {
	font-family: "Space Mono", monospace;
	color: white;
	font-weight: 500;
	background-color: #0079ff;
	border-radius: 10px;
	border-style: none;
	height: 45px;
	width: 100px;
}

.search-field {
	flex: 1;
	padding: 15px 0;
}

.search-icon {
	margin-left: 15px;
	margin-right: 15px;
	padding: 20px 0;
}

.search-button {
	margin-left: 15px;
	margin-right: 10px;
}

#no-result {
	color:red;
}

.main-container {
	display: flex;
	flex-direction: column;
	background-color: white;
	justify-content: center;
	border-radius: 15px;
	box-shadow: 5px 10px 18px #e7e7e7;
	margin-top: 40px;
	padding: 20px;

}

.info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

#info-photo {
	margin-right: 20px;
}

.photo {
	height: 100px;
	border-radius: 90%;
}


.info-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info-title-handle {
	display: flex;
	flex-direction: column;
}

#description {
	margin-top: 20px;
}

.stats {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #F6F8FF;
	padding: 12px 28px;
	border-radius: 12px;
	margin-top: 20px;

}

.repos {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.followers {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.following {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.contact {
	display: grid;
	grid-template-areas: 
	"loc"
	"twi"
	"web"
	"git";
	row-gap: 10px;
margin-top: 20px;
}

.location {
	grid-area: loc;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.twitter {
	grid-area: twi;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.website {
	grid-area: web;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.github {
	grid-area: git;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.contact img {
	margin-right: 10px;
}

#test {
	color: yellow;
}





